.DS_Store
.next
node_modules
out
package-lock.json
*.js~
npm-debug.log
*.css~
pages/startups/e-mjpm\.mdx~
.vscode/

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
