include:
  - project: SocialGouv/gitlab-ci-yml
    file: /autodevops_simple_app.yml
    ref: v14.0.0

variables:
  PROJECT: "www"
  # NOTE(douglasduteil): explicit project path
  # As GitLab is setting CI_PROJECT_PATH to SocialGouv/socialgouv-github-io
  PROJECT_PATH: "SocialGouv/www"
  VALUES_FILE: ./.k8s/app.values.yml

#

Build:
  extends:
    - .base_yarn_build_next
  dependencies:
    - Install
  needs:
    - Install
  variables:
    VERSION: ${CI_COMMIT_SHORT_SHA}
  script:
    - yarn next build
    - yarn next export
  artifacts:
    expire_in: 1 day
    paths:
      - out

#

Deploy app (prod):
  extends:
    - .deploy_app_stage
  only:
    refs:
      - master
  variables:
    HOST: www.${KUBE_INGRESS_BASE_DOMAIN}
    K8S_NAMESPACE: www
    PRODUCTION: "true"
  environment:
    name: prod
    url: https://${CI_PROJECT_NAME}.${KUBE_INGRESS_BASE_DOMAIN}
