# Dependency directories
node_modules/

# dotenv environment variables file
.env*
!.env.sample

# Next.js build output
.next

# VSCode
.vscode

# dev assets
.assets

# yarn
yarn-error.log

# jest's coverage output
coverage

# LHCI
.lighthouseci

# Yarn Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

old-source
