include:
  - project: SocialGouv/gitlab-ci-yml
    file: /autodevops_simple_app.yml
    ref: v9.1.1

variables:
  PROJECT: "www"
  HELM_CHART_VERSION: "3.0.1"
  VALUES_FILE: ./.k8s/app.values.yml

#

Build:
  extends:
    - .base_yarn_build_next
  dependencies:
    - Install
  needs:
    - Install
  script:
    - yarn build
    - yarn rss
  artifacts:
    expire_in: 1 day
    paths:
      - out

#

Deploy app (prod):
  extends:
    - .deploy_app_stage
  only:
    refs:
      - master
  variables:
    HOST: socialgouv-github-io.${KUBE_INGRESS_BASE_DOMAIN}
    K8S_NAMESPACE: www
    PRODUCTION: "true"
  environment:
    name: prod
    url: https://${CI_PROJECT_NAME}.${KUBE_INGRESS_BASE_DOMAIN}
