@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --hover: var(--background-default-grey-hover);
  --active: var(--background-default-grey-active);
  background-color: var(--background-default-grey);
  color: var(--text-default-grey);
  font-family: Marianne, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

#contenu {
  background-color: var(--background-alt-grey);
}
