a.button,
a.button:focus,
a.button:active,
a.button:visited,
button.button,
button.button:focus,
button.button:active,
button.button:visited {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em 2em;
  color: #fff;
  background-color: var(--theme-secondary);
  border-radius: var(--theme-border-radius);
  border: 1px solid transparent;
  border-bottom: 2px solid var(--theme-primary-dark);
  font-family: "Evolventa", "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.25s;
}

a.button:hover,
button.button:hover {
  background: var(--theme-secondary-darken);
}

a.button:active,
button.button:active {
  transform: translateY(2px);
  border-bottom: 0;
  margin-bottom: 2px;
}
