.documentation {
  display: flex;
}

.side-pane {
  background: var(--theme-background-grey);
  padding: 1em;
  flex: 0 0 250px;
  border-right: 1px solid var(--theme-border-lighter);
}

.side-pane .side-pane__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-pane__title {
  padding: 0 1em;
}

.side-pane .side-pane__link {
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 0.5em;
  color: var(--theme-dark-text);
}

.side-pane li:hover .side-pane__link {
  background: var(--light-grey);
}

.side-pane li.active .side-pane__link {
  background: var(--theme-primary);
  color: var(--white);
}

.side-pane li.side-pane__dropdown .side-pane__link {
  background: url("/static/images/icons/arrow-right.svg") no-repeat;
  transition: background ease-out 0.5s;
  background-position: center right 1em;
  background-size: 15px 15px;
}

.side-pane li.side-pane__dropdown:hover .side-pane__link {
  background: var(--light-grey) url("/static/images/icons/arrow-right.svg") no-repeat;
  transition: background ease-out 0.5s;
  background-position: center right 1em;
  background-size: 15px 15px;
}

.side-pane li.unfolded.side-pane__dropdown .side-pane__link,
.side-pane li.unfolded.side-pane__dropdown:hover .side-pane__link {
  background-image: url("/static/images/icons/arrow-down.svg");
  background-color: transparent;
}

.side-pane li.unfolded.active.side-pane__dropdown .side-pane__link {
  background-color: var(--theme-primary);
}

.side-pane__dropdown.unfolded .side-pane__submenu {
  display: block;
}

.side-pane__submenu {
  padding-left: 2em;
  margin-bottom: 0.5em;
  display: none;
}

.side-pane__sublink,
.side-pane__sublink:visited {
  padding: 0.5em;
  list-style-type: none;
  color: var(--darker-grey);
  border-radius: 5px;
}

.side-pane__submenu li {
  list-style-type: none;
  margin: 1em 0;
}

.side-pane__submenu .side-pane__sublink:hover {
  color: var(--theme-dark-text);
  background: var(--light-grey);
  transition: background ease-out 0.5s;
}

.side-pane__submenu li.active {
  list-style-type: disc;
  color: var(--theme-primary);
}

.side-pane__submenu li.active .side-pane__sublink {
  font-weight: 700;
  color: var(--theme-dark-text);
}

.main-pane {
  padding: 3em;
  background: var(--white);
  flex: 1;
}

.main-pane h1:first-child {
  margin-top: 0;
}

@media (--smaller-than-tablet) {
  .documentation {
    flex-direction: column;
  }

  .side-pane {
    border-right: none;
    border-bottom: 1px solid var(--theme-border-lighter);
    flex: auto;
  }
}
