form {
  max-width: 520px;
  margin: 0 auto;
}

input,
select {
  width: 100%;
  outline: none;
  padding: 8px 14px;
  font: inherit;
  line-height: 1.6;
  color: var(--black);
  border-radius: var(--theme-border-radius);
  box-sizing: border-box;
  border: 1px solid var(--theme-border);
  background: var(--theme-background-white);
  vertical-align: middle;
  position: relative;
}

input:focus,
select:focus {
  border-color: var(--theme-primary);
  transition: border-color 0.2s ease-out;
  box-shadow: 0 0 1px 1px var(--lighter-blue);
}

input:disabled,
select:disabled {
  background-color: var(--theme-background-grey);
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 6px;
  margin-top: 0;
}

input[type="radio"] {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  appearance: none;
  padding: 0;
}

input[type="radio"]::before {
  content: "";
  border-color: var(--theme-primary);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  transform: scale(0);
}

input[type="radio"]:checked {
  background-color: var(--theme-background-white);
  border-color: var(--theme-primary);
  opacity: 1;
}

input[type="radio"]:checked::before {
  background-color: var(--theme-primary);
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

input[type="checkbox"] {
  appearance: none;
  height: 22px;
  width: 22px;
  padding: 0;
}

input[type="checkbox"]:checked {
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
  opacity: 1;
  transition: border-color 0.2s ease-in, background-color 0.2s ease-out;
}

input[type="checkbox"]::before {
  transform: scale(0);
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 14px;
  width: 14px;
  background: url("/static/images/icons/tick.svg") center center no-repeat;
}

input[type="checkbox"]:checked::before {
  color: var(--white);
  display: block;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

select {
  appearance: none;
  background: var(--theme-background-white) url("/static/images/icons/arrow-down.svg") no-repeat;
  background-position: center right 1em;
  background-size: 15px;
  padding-right: 45px;
  border-radius: var(--theme-border-radius);
  width: auto;
}

select:focus {
  outline: none;
}

label,
legend {
  display: block;
  margin-bottom: 0.5em;
  color: var(--almost-black);
}

label.label-inline {
  display: inline;
  color: var(--black);
}

.label-inline + input[type="radio"],
.label-inline + input[type="checkbox"] {
  margin-left: 10px;
}

.form__container {
  max-width: 30em;
  margin: auto;
}

.form__group {
  position: relative;
  display: block;
  margin-bottom: 1em;
}

.form__group + .form__group {
  margin-top: 2em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.overlay-button {
  position: absolute;
  right: 21px;
  top: 12px;
  background: 0;
  border: 0;
  width: 15px;
  height: 15px;
}

.search__group {
  position: relative;
}

.overlayed-button .icon-search {
  height: 15px;
  width: 15px;
}

.input__group {
  display: flex;
  flex-direction: row;
}

.input__group .icon-button,
.input__group .icon-button:active {
  margin-left: 1em;
  padding: 0 0.8em;
}

.input__group .icon-button .icon {
  width: 16px;
  height: 16px;
}
