body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: auto;
  background: var(--theme-background-grey);
}

a,
button {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: var(--theme-primary);
  text-decoration: none;
  transition: color 0.2s ease-out;
}

small {
  font-size: 0.875em;
}

.tag-list {
  padding: 0;
  margin: 0;
}

.tag {
  background: var(--theme-primary);
  border-radius: var(--theme-border-radius);
  display: inline-block;
  padding: 0.3em 0.8em;
  margin-right: 0.5em;
  color: var(--white);
}

.tag a {
  color: var(--white);
}