.panel {
  background: var(--theme-background-white);
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--theme-box-shadow);
  padding: 2em;
  position: relative;
}

.panel h1:first-of-type {
  margin-top: 0;
}

.panel__header:after {
  content: '';
  display: block;
  width: calc(100% + 4em);
  position: relative;
  left: -2em;
  border-bottom: 1px solid var(--theme-border);
  margin-bottom: 2em;
}

.panel__header h3 {
  display: inline-block;
}

.panel__header h3:first-of-type {
  margin-top: 0;
}

.panel__header-extra {
  margin-left: 1em;
  color: var(--theme-label-text);
}