:root {
  --blue: #0081d5;
  --light-blue: #1e90da;
  --dark-blue: #006cb0;
  --lighter-blue: #b4e1fa;
  --white: #fff;
  --lighter-grey: #ebeff3;
  --light-grey: #c9d3df;
  --grey: #adb9c9;
  --dark-grey: #8393a7;
  --darker-grey: #53657d;
  --almost-black: #26353f;
  --black: #1c1c1c;
  --green: #03bd5b;
  --light-green: #daf5e7;
  --orange: #ff9947;
  --light-orange: #fff0e4;
  --red: #d1335b;
  --light-red: #f8e1e7;
  --theme-primary: var(--blue);
  --theme-primary-light: var(--light-blue);
  --theme-primary-dark: var(--dark-blue);
  --theme-secondary: var(--blue);
  --theme-secondary-darken: var(--dark-blue);
  --theme-border: var(--grey);
  --theme-border-lighter: var(--light-grey);
  --theme-border-active: var(--light-blue);
  --theme-border-radius: 3px;
  --theme-background-white: var(--white);
  --theme-background-grey: var(--lighter-grey);
  --theme-background-color: var(--blue);
  --theme-background-dark: var(--black);
  --theme-box-shadow: var(--light-grey);
  --theme-label-text: var(--dark-grey);
  --theme-dark-text: var(--almost-black);
  --theme-success-border: var(--green);
  --theme-success-bg: var(--light-green);
  --theme-warning-border: var(--orange);
  --theme-warning-bg: var(--light-orange);
  --theme-error-border: var(--red);
  --theme-error-bg: var(--light-red);
  --theme-info-border: var(--blue);
  --theme-info-bg: var(--lighter-blue);
}
