@import "../node_modules/template.data.gouv.fr/dist/style/main.css";
@import "../node_modules/react-accessible-accordion/dist/fancy-example.css";

.navbar__container .navbar__logo {
  max-height: 50px;
  flex: 0 0 120px;
}

.navbar__container .navbar__title {
  font-size: 1.5em;
}

.navbar__title_container {
  display: inline-block;
  vertical-align: middle;
}

.navbar__container nav {
  flex: 1 0 auto;
  text-align: right;
}

section.section-color a {
  color: white;
  text-decoration: underline;
}

@media (max-width: 549px) {
  .navbar__container nav {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }
  .navbar__container nav .nav__item {
    display: inline-block;
    text-align: center;
    margin: 0 3px;
  }
  .navbar__container nav .nav__item a {
    text-decoration: underline;
  }
  .hero__container h1 {
    font-size: 1.2em;
  }
  .hero__container p.hero__white-background {
    font-size: 0.9em;
  }
}

article,
.article__container {
  max-width: 50em !important;
  margin: 0 auto;
}

article blockquote {
  border-left: 2px solid silver;
  padding-left: 2em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 40px;
  margin-bottom: 40px;
}

article img {
  /* hack to force center align */
  max-width: 100%;
  margin-left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}

span[data-tip] {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.accordion__title {
  box-sizing: border-box;
}

.accordion__title h3 {
  margin-top: 0;
}

.accordion__body p {
  margin-top: 0;
}

div.article__author-list {
  justify-content: center;
  flex-wrap: wrap;
}

div.article__author-list .article__author:nth-child(1) {
  margin-left: 1em;
}

div.article__author-list .article__author {
  flex: 0 0 auto;
  width: auto;
  max-width: 30%;
  min-width: 30%;
  margin-top: 2em;
}
@media (max-width: 549px) {
  div.article__author-list .article__author {
    margin-left: 0 !important;
    max-width: 100%;
  }
}

div.article__author-list .article__author svg {
  transition: all 0.1s ease-in;
}
div.article__author-list .article__author svg:hover {
  transform: scale(1.1);
}

div.article__author .article__author-role {
  margin-top: 5px;
}

.card {
  max-width: 350px;
}

@media (max-width: 549px) {
  .card {
    max-width: 100%;
  }
}
