.navbar__container .navbar__logo {
  max-height: 50px;
  flex: 0 0 120px;
}

.navbar__container .navbar__title {
  font-size: 1.5em;
}

.navbar__title_container {
  display: inline-block;
  vertical-align: middle;
}

.navbar__container nav {
  flex: 1 0 auto;
  text-align: right;
}

section.section-color a {
  color: white;
  text-decoration: underline;
}

@media (max-width: 549px) {
  .navbar__container nav {
    margin-top: 2em;
  }
  .navbar__container nav .nav__item {
    display: block;
    height: 2em;
    text-align: center;
  }
  .hero__container h1 {
    font-size: 1.2em;
  }
  .hero__container p.hero__white-background {
    font-size: 0.9em;
  }
}

article,
.article__container {
  max-width: 50em !important;
}

article blockquote {
  border-left: 2px solid silver;
  padding-left: 2em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 40px;
  margin-bottom: 40px;
}

article img {
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

span[data-tip] {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.accordion__title {
  box-sizing: border-box;
}

.accordion__title h3 {
  margin-top: 0;
}

.accordion__body p {
  margin-top: 0;
}

div.article__author-list {
  justify-content: center;
  flex-wrap: wrap;
}

div.article__author-list .article__author:nth-child(1) {
  margin-left: 1em;
}

div.article__author-list .article__author {
  flex: 0 0 auto;
  width: auto;
  min-width: 30%;
  max-width: 30%;
  margin-top: 2em;
}
