name: Production

on:
  push:
    tags:
      - v*

concurrency:
  group: preproduction
  cancel-in-progress: true

jobs:

  ##############################################################################
  ## BUILD AND REGISTER DOCKER IMAGE
  ##############################################################################
  register:
    name: Build & Register app
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Get project name
      run: |
        echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

    - name: Create image labels and tags
      id: docker_meta
      uses: "crazy-max/ghaction-docker-meta@2e1a5c7fa42123697f82d479b551a1bbdb1bef88"
      with:
        images: ghcr.io/socialgouv/fabrique/${{ env.project }}
        labels: |
          org.opencontainers.image.title=${{ env.project }}
          org.opencontainers.image.documentation=https://github.com/SocialGouv/${{ env.project }}/tree/${{ github.sha }}
        tags: |
          type=sha
          type=ref,event=pr
          type=ref,event=branch
          type=semver,pattern={{version}}
          type=raw,value=sha-${{ github.sha }}
          type=semver,pattern={{major}}.{{minor}}

    - name: Set up Buildx
      id: buildx
      uses: docker/setup-buildx-action@master
      with:
        install: true

    - name: Registry authentication
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Image build and register
      uses: docker/build-push-action@v2
      with:
        context: .
        push: 'true'
        cache-from: "type=gha"
        cache-to: "type=gha,mode=max"
        builder: "${{ steps.buildx.outputs.name }}"
        tags: "${{ steps.docker_meta.outputs.tags }}"
        labels: "${{ steps.docker_meta.outputs.labels }}"

  ##############################################################################
  ## GENERATE PREPRODUCTION MANIFESTS
  ##############################################################################
  manifests:
    name: Preproduction manifests
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Load preproduction environment variables
      run: |
        cat ".github/preproduction.env" >> $GITHUB_ENV

    - name: Yarn cache setup
      uses: c-hive/gha-yarn-cache@v1

    - name: Install kosko-charts autodevops
      run: |
        npx degit SocialGouv/kosko-charts/templates/autodevops /tmp/autodevops
        yarn --cwd /tmp/autodevops

    - name: Copy application k8s config to autodevops
      run: cp -r .socialgouv/environments .socialgouv/config.json /tmp/autodevops/

    - name: Generate k8s manifests
      run: |
        echo SOCIALGOUV_BASE_DOMAIN: $SOCIALGOUV_BASE_DOMAIN
        yarn --cwd /tmp/autodevops --silent generate:preprod > manifests.yml
      env:
        SOCIALGOUV_PREPRODUCTION: true
        SOCIALGOUV_CONFIG_PATH: /tmp/autodevops/config.json
        SOCIALGOUV_BASE_DOMAIN: ${{ env.SOCIALGOUV_BASE_DOMAIN }}

    - name: Archive k8s manifests
      uses: actions/upload-artifact@v2
      with:
        name: manifests.yml
        path: manifests.yml

  ##############################################################################
  ## DEPLOY PREPRODUCTION APPLICATION
  ##############################################################################
  deploy:
    name: Deploy preproduction
    runs-on: ubuntu-latest
    needs: [register, manifests]
    environment:
      name: preproduction
      url: https://${{ env.namespace }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}
    steps:
  
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Load environment variables
      run: |
        cat ".github/preproduction.env" >> $GITHUB_ENV
        echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
        echo "namespace=${GITHUB_REPOSITORY#*/}-preprod" >> $GITHUB_ENV

    - name: Download k8s manifests
      uses: actions/download-artifact@v2
      with:
        name: manifests.yml

    - name: Install Kapp
      uses: vmware-tanzu/carvel-setup-action@v1
      with:
        only: kapp
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Create kubernetes config
      run: |
        mkdir ~/.kube
        touch ~/.kube/config
        echo ${{ secrets.SOCIALGOUV_KUBE_CONFIG_DEV }} | base64 -d > ~/.kube/config

    - name: Create k8s namespace and annotations
      run: |
        kubectl create ns ${{ env.namespace }} || true
        kubectl annotate ns ${{ env.namespace }} azure-pg-admin-user=${{ env.project }} || true

    - name: Deploy application
      run: kapp --dangerous-override-ownership-of-existing-resources -y deploy -a ${{ env.project }} --namespace ${{ env.namespace }} -f manifests.yml

  ##############################################################################
  ## GENERATE PRODUCTION MANIFESTS
  ##############################################################################
  manifests-prod:
    name: Production manifests
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Load production environment variables
      run: |
        cat ".github/production.env" >> $GITHUB_ENV

    - name: Yarn cache setup
      uses: c-hive/gha-yarn-cache@v1

    - name: Install kosko-charts autodevops
      run: |
        npx degit SocialGouv/kosko-charts/templates/autodevops /tmp/autodevops
        yarn --cwd /tmp/autodevops

    - name: Copy application k8s config to autodevops
      run: cp -r .socialgouv/environments .socialgouv/config.json /tmp/autodevops/

    - name: Generate k8s manifests
      run: |
        echo SOCIALGOUV_BASE_DOMAIN: $SOCIALGOUV_BASE_DOMAIN
        yarn --cwd /tmp/autodevops --silent generate --env prod > manifests-prod.yml
      env:
        SOCIALGOUV_PRODUCTION: true
        SOCIALGOUV_CONFIG_PATH: /tmp/autodevops/config.json
        SOCIALGOUV_BASE_DOMAIN: ${{ env.SOCIALGOUV_BASE_DOMAIN }}

    - name: Archive k8s manifests
      uses: actions/upload-artifact@v2
      with:
        name: manifests-prod.yml
        path: manifests-prod.yml

  ##############################################################################
  ## DEPLOY PRODUCTION APPLICATION
  ##############################################################################
  deploy-prod:
    name: Deploy production
    runs-on: ubuntu-latest
    needs: [manifests-prod, deploy]
    environment:
      name: production
      url: https://${{ env.namespace }}.${{ env.SOCIALGOUV_BASE_DOMAIN }}
    steps:
  
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Load environment variables
      run: |
        cat ".github/production.env" >> $GITHUB_ENV
        echo "project=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
        echo "namespace=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

    - name: Download k8s manifests
      uses: actions/download-artifact@v2
      with:
        name: manifests-prod.yml

    - name: Install Kapp
      uses: vmware-tanzu/carvel-setup-action@v1
      with:
        only: kapp
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Create kubernetes config
      run: |
        mkdir ~/.kube
        touch ~/.kube/config
        echo ${{ secrets.SOCIALGOUV_KUBE_CONFIG_PROD }} | base64 -d > ~/.kube/config

    - name: Create k8s namespace and annotations
      run: |
        kubectl create ns ${{ env.namespace }} || true
        kubectl annotate ns ${{ env.namespace }} azure-pg-admin-user=${{ env.project }} || true

    - name: Deploy application
      run: kapp --dangerous-override-ownership-of-existing-resources -y deploy -a ${{ env.project }} --namespace ${{ env.namespace }} -f manifests-prod.yml
