name: Review

on:
  push:
    branches-ignore:
      - master
    tags-ignore:
      - v*

concurrency:
  cancel-in-progress: true
  group: review-${{ github.ref }}

jobs:
  register:
    name: Build & Register application
    runs-on: ubuntu-latest
    steps:
    - name: Use autodevops build and register
      uses: SocialGouv/actions/autodevops-build-register@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        imagePackage: app

  deploy:
    name: Deploy application
    runs-on: ubuntu-latest
    needs: [register]
    steps:
    - name: Use kontinuous deployment
      uses: SocialGouv/kontinuous/.github/actions/deploy-via-github@v1
      with:
        environment: dev
        token: ${{ secrets.GITHUB_TOKEN }}
        kubeconfig: ${{ secrets.KUBECONFIG }}
        rancherProjectId: ${{ secrets.RANCHER_PROJECT_ID }}
        ciNamespace: ${{ secrets.RANCHER_PROJECT_NAME }}-ci
        disableDiff: true
